@using System.Globalization
@model SharedCoursesViewModel
@{
    ViewData["Title"] = $"Account Details for {Model.AccountInfo.FirstName} {Model.AccountInfo.LastName}";
}

<div class="container">
    <section class="account-details">
        <aside>
            <div class="profile-info">
                <img src="@Model.AccountInfo.ProfileImage" alt="@($"{Model.AccountInfo.FirstName} {Model.AccountInfo.LastName}")" />
                <h5>@($"{Model.AccountInfo.FirstName} {Model.AccountInfo.LastName}")</h5>
                <p>@Model.AccountInfo.Email</p>
            </div>
            <nav>
                <a class="btn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-light fa-gear"></i> Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-light fa-lock"></i> Security</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i> Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignIn"><i class="fa-sharp fa-light fa-person-to-door"></i> Sign out</a>
            </nav>
        </aside>
		<div class="saved-courses">
			<div class="courses-show">
				@foreach (var myCourse in Model.MyCourses)
				{
					<a class="my-courses" href="#">
						<img src="@myCourse.ImageUrl" alt="course image" />
						@if (!string.IsNullOrEmpty(myCourse.BestBadgeUrl))
						{
							<div class="bestbadge"> <img src="@myCourse.BestBadgeUrl" alt="Green bestseller badge"> </div>
						}
						<div class="bookmark"> <img src="@myCourse.BookmarkUrl" alt="Bookmark course badge"></div>
						<h5>@myCourse.Title</h5>
						<p class="author">@myCourse.Author<p>
							<div class="price-container">
									@if (myCourse.RedPrice.HasValue)
									{
									<p class="price-red">$@myCourse.RedPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
									}
									@if (myCourse.Price.HasValue)
									{
									<p class="price">$@myCourse.Price.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
									}
									@if (myCourse.OldPrice.HasValue)
									{
									<p class="old-price"><del>$@myCourse.OldPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</del></p>
									}
							</div>
							<hr />
						<p class="courses-time">
							<i class="fa-light fa-clock"></i>@myCourse.Hours hours <i class="fa-light fa-thumbs-up"></i> @myCourse.RatingPercentage%  (@myCourse.RatingCount)
						</p>
					</a>
				}

			</div>
		</div>

    </section>
</div>