@using System.Globalization
@using SharedSilicon.ViewModels
@using static SharedSilicon.Models.SavedCoursesModel
@model SavedCoursesIndexViewModel
@{
    ViewData["Title"] = $"Account Details for {Model.User.FirstName} {Model.User.LastName}";
} 

<div class="container">
    <section class="account-details">
        <aside>
            <div class="profile-info">
                <img src="@Model.User" alt="@($"{Model.User.FirstName} {Model.User.LastName}")" />
				<h5>@($"{Model.User.FirstName} {Model.User.LastName}")</h5>
				<p>@Model.User.Email</p>
            </div>
            <nav>
				<a class="btn-theme-s" asp-controller="Account" asp-action="Details"><i class="fa-light fa-gear"></i> Account Details</a>
				<a class="btn-theme-s" asp-controller="Account" asp-action="Security"><i class="fa-light fa-lock"></i> Security</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i> Saved Courses</a>
				<a class="btn-theme-s" asp-controller="Auth" asp-action="SignIn"><i class="fa-sharp fa-light fa-person-to-door"></i> Sign out</a>
            </nav>
        </aside>
		<div class="saved-courses">
			<div class="courses-show">
				<h2>Saved Items</h2>
				<div class="form-buttons">
					<form asp-action="DeleteAllSavedCourses" asp-controller="Account" method="post">
						<input type="hidden" name="userId" value="@Model.User.UserId" />
						<button type="submit" class="btn-gray"><i class="fa-light fa-trash"></i> Delete All</button>
					</form>
				</div>

				@foreach (var savedCourse in Model.SavedCourses!)
				{
					if (savedCourse.Course != null)
                    {
						<a class="my-courses" href="#">
							<img src="@savedCourse.Course?.ImageUrl" alt="course image" />
							@* @if (!string.IsNullOrEmpty(savedCourse.Course.BestBadgeUrl))
							{
								<div class="bestbadge"> <img src="@savedCourse.Course.BestBadgeUrl" alt="Green bestseller badge"> </div>
							} *@
							<form asp-action="DeleteOneCourse" asp-controller="Account" method="post">
								<input type="hidden" name="courseId" value="@savedCourse.Course?.Id" />
								<input type="hidden" name="userId" value="@Model.User.UserId" />
								<button type="submit" class="btn btn-circle bookmark"><i class="fa-regular fa-bookmark"></i></button>
							</form>

							<h5>@savedCourse.Course?.Title</h5>
							<p class="author">By @savedCourse.Course!.Author.FirstName @savedCourse.Course.Author.LastName <p>
								<div class="price-container">
										@if (savedCourse.Course?.Price.HasValue == true)
										{
										<p class="price">$@savedCourse.Course.Price.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
										}
										@if (savedCourse.Course?.RedPrice.HasValue == true)
										{
										<p class="price">$@savedCourse.Course.RedPrice!.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
										}
										@if (savedCourse.Course?.OldPrice.HasValue == true)
										{
										<p class="old-price"><del>$@savedCourse.Course.OldPrice!.Value.ToString("F2", CultureInfo.InvariantCulture)</del></p>
										}
								</div>
								<hr />
							<p class="courses-time">
								<i class="fa-light fa-clock"></i>@savedCourse.Course?.Hours hours <i class="fa-light fa-thumbs-up"></i> @savedCourse.Course?.RatingPercentage%  (@savedCourse.Course?.RatingCount)
							</p>
						</a>
					}
				}
			</div>
		</div>

    </section>
</div>