@using System.Globalization
@model SharedSilicon.ViewModels.CourseIndexViewModel
@* @model IEnumerable<Infrastructure.Entities.CourseEntity> *@



@* Courses section *@



<section class="courses-page">

	@* Toolbar and navigation. *@
	<div class="container">
		<div class="toolbar">
			<div>
				<div class="navigation">
					<a class="menu-links" asp-controller="Home" asp-action="Index"> <i class="fa-regular fa-house">  </i> Home  <i class="fa-sharp fa-solid fa-angles-right"></i></a>
					<a class="menu-links" asp-controller="Courses" asp-action="Index">Courses</a>
				</div>
				<h1>Courses</h1>
			</div>

			<div class="dropdown-search">
				<div class="select">
					<div class="dropbtn">All categories <i class="fa-solid fa-chevron-down"></i></div>
					<div class="select-options">
						<div class="option" data-value="all">All Categories</div>
						@if (Model.Categories != null)
						{
							@foreach (var category in Model.Categories)
							{
								<div class="option" data-value="@category.Name">@category.Name</div>
							}
						}
					</div>
				</div>

				<div class="search-courses">
					<input id="searchQuery" name="searchQuery" placeholder="Search courses">
					<i class="fa-regular fa-magnifying-glass"></i>
				</div>
			</div>
		</div>



	</div>


	@* Courses cards. *@
	<div class="container">
		@if (Model.Courses != null)
		{
			<div class="courses-show">

				@foreach (var course in Model.Courses)
				{
					<div class="course">
						<div class="courses" onclick="location.href='@Url.Action("Details", "Courses", new { id = course.Id})'">



							@if (course.BestBadgeUrl)
							{
								<div class="bestbadge">


									<img src="~/images/coursesImages/bestsellerbadge.svg" alt="Green bestseller badge">
								</div>

							}
							<a asp-action="Save" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-circle bookmark"><i class="fa-regular fa-bookmark"></i></a>


							<img src="@course.ImageUrl" alt="course image" />


							<h5>@course.Title</h5>
							<p class="author">@course.Author</p>
							<div class="price-container">
								@if (course.RedPrice.HasValue)
								{
									<p class="price-red">$@course.RedPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
								}
								@if (course.OldPrice.HasValue)
								{
									<p class="old-price"><del>$@course.OldPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</del></p>
								}
								@if (!course.RedPrice.HasValue && !course.OldPrice.HasValue && course.Price.HasValue)
								{
									<p class="price">$@course.Price.Value.ToString("F2", CultureInfo.InvariantCulture)</p>
								}
							</div>
							<hr />
							<p class="courses-time">
								<i class="fa-light fa-clock"></i>@course.Hours hours <i class="fa-light fa-thumbs-up"></i> @course.RatingPercentage%  (@course.RatingCount)
							</p>


						</div>


					</div>


				}


			</div>
			@if (Model.Pagination != null && Model.Pagination.TotalPages > 1)
			{
				<div class="pagination">
					@for (int i = 1; i <= Model.Pagination.TotalPages; i++)
					{
						if (i == Model.Pagination.CurrentPage)
						{
							<span class="number active">@i</span>
						}
						else
						{
							<a class="number" href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.Pagination.PageSize})">@i</a>
						}
					}

				</div>
			}

		}

	


	</div>


	

	<div class="banner">
		<div class="container">
			<div class="banner-text">
				<p>Ready to get started?</p>
				<h1>Take Your <span>Skills</span> to the Next Level</h1>
				<button class="btn-theme">Work with us</button>
			</div>

			<div class="banner-image">
				<img src="~/images/coursesImages/skillspic.svg" alt="illustration of woman with a laptop">
			</div>
		</div>

	</div>



	<script src="~/js/categories.js" asp-append-version="true"></script>

</section>

