
@model Infrastructure.Dtos.CourseDto
@{
    ViewData["Title"] = "Single Course";
}

<section class="single-course">
    <div class="top-content" style="background-image: url('@Model.ImageUrl');">
@*         <img class="laptop" src="@Model.ImageUrl" /> *@
            <div class="container">
                <p class="seeding">
                <a><i class="fa-regular fa-house"></i> Home <i class="fa-regular fa-chevrons-right arrows"></i> Courses <i class="fa-regular fa-chevrons-right arrows"></i>@Model.Title</a>
                </p>
                <div class="small-btns">
                    <p class="green-btn">Best Seller</p>
                    <p class="white-btn">Digital</p>
                </div>
            <h1>@Model.Title</h1>
                <p class="text-under">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae minus saepe ullam totam, expedita optio!</p>
                <div class="smol-things">
                    <div>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-solid fa-star star"></i>
                        <i class="fa-regular fa-star blank-star"></i>
                    </div>
                    <p>("@Model.CourseDetails.NumberOfReviews"K reviews)</p>
                    <span></span>
                    <i class="fa-regular fa-thumbs-up little-icon"></i>
                    <p>"@Model.RatingCount"K likes</p>
                    <span></span>
                    <i class="fa-regular fa-clock little-icon"></i>
                    <p>"@Model.Hours" hours</p>
                </div>
                <div class="albert">
                    <img class="smol-img-albert" src="@Model.Author.AuthorImageUrl" />
                    <div class="albert-text">
                        <p class="created">Created by</p>
                    <p>@Model.Author.FirstName @Model.Author.LastName</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="description">
        <div class="container">
            <div class="divide">
                <div class="course-description">
                    <h2>Course description</h2>
                    <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                    <div class="things-to-learn">
                        <h3> What you'll learn</h3>
                        <div class="what-what"><p><i class="fa-sharp fa-regular fa-circle-check"></i>Sed lectus donec amet eu turpis interdum.</p></div>
                        <div class="what-what"><p><i class="fa-sharp fa-regular fa-circle-check"></i>Nulla at consectetur vitae dignissim porttitor.</p></div>
                        <div class="what-what"><p><i class="fa-sharp fa-regular fa-circle-check"></i>Phasellus id vitae dui aliquet mi.</p></div>
                        <div class="what-what"><p><i class="fa-sharp fa-regular fa-circle-check"></i>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p></div>
                        <div class="what-what"><p><i class="fa-sharp fa-regular fa-circle-check"></i>In aenean dolor diam tortor orci eu.</p></div>
                    </div>
                </div>
                <div class="this-includes">
                    <h5>This course includes:</h5>
                    <p><i class="fa-solid fa-display smolicon"></i>148 hours on-demand video</p>
                    <p><i class="fa-sharp fa-regular fa-file-check smolicon"></i>18 articles</p>
                    <p><i class="fa-regular fa-download smolicon"></i>25 downloadable resourses</p>
                    <p><i class="fa-regular fa-infinity smolicon"></i>Full lifetime access</p>
                    <p><i class="fa-regular fa-trophy smolicon"></i>Certificate of compleation</p>
                    <div class="price">
                        @if (Model.Price.HasValue)
                        {
                            <h3>$@Model.Price.Value.ToString("F2", CultureInfo.InvariantCulture)</h3>
                        }
                        @if (Model.RedPrice.HasValue)
                        {
                            <h3>$@Model.RedPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</h3>
                        }
                        @if (Model.OldPrice.HasValue)
                        {
                            <h4>$@Model.OldPrice.Value.ToString("F2", CultureInfo.InvariantCulture)</h4>
                        }
                    </div>
                    <button class="btn-theme">Join course</button>
                </div>
            </div>
            <div class="program-details">
                <h2> Program Details</h2>

                <div class="the-info">
                    <img src="/images/1.png" />
                    <div class="text">
                        <h4>Introduction. Getting started</h4>
                        <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="the-info">
                    <img src="/images/2.png" />
                    <div class="text">
                        <h4>The ultimate HTLM developer: advanced HTML</h4>
                        <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                </div>
                <div class="the-info">
                    <img src="/images/3.png" />
                    <div class="text">
                        <h4>CSS & CSS3: basic</h4>
                        <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                </div>
                <div class="the-info">
                    <img src="/images/4.png" />
                    <div class="text">
                        <h4>JavaScript basics for beginners</h4>
                        <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                </div>
                <div class="the-info">
                    <img src="/images/5.png" />
                    <div class="text">
                        <h4>Understanding APIs</h4>
                        <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                </div>
                <div class="the-info">
                    <img src="/images/6.png" />
                    <div class="text">
                        <h4>C# and .NET from beginner to advanced</h4>
                        <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                </div>
            </div>
                <div class="big-albert">
                    <img class="albert-big" src="@Model.Author.AuthorImageUrl" />
                    <img class="blu-background" src="images/pattern-single-course.png" />
                    <div class="halfscreen">

                        <p class="learn">@Model.Author.Headline</p>
                        <h2>@Model.Author.FirstName @Model.Author.LastName</h2>
                        <p>
                            Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.
                        </p>
                        <div class="other-btns">
                        <p class="red-btn"><i class="fa-brands fa-youtube"></i> 240K subscribers</p>
                            <p class="blu-btn"><i class="fa-brands fa-facebook-f"></i> 180K followers</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
